@* 最上面的版面配置 *@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Farmer_Project.Models.Entity
@model List<Articles>

<!-- nav section -->

<section class="nav_section">
    <div class="container">
        <div class="custom_nav2">
            <nav class="navbar navbar-expand custom_nav-container ">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <div class="d-flex  flex-column flex-lg-row align-items-center">
                        <ul class="navbar-nav  ">
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/index">全部</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/testimonial">主題相關</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/Home/MyArticle">我的文章</a>
                            </li>
                            <li class="nav-item">
                                <img src="~/images/account.jfif" alt="">
                            </li>
                            <li class="dropdown">
                                <a class="nav-link" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" color="white">
                                    <font color="white">@TempData["Account"]<span class="sr-only">(current)</span></font>
                                </a>
                                <ul id="SiteDirect" class="dropdown-menu" aria-labelledby="MainTopicAD">
                                    <li><a href="/Login/MemberEdit">@TempData["isLogin1"]</a></li>
                                    <li><a href="/Home/Login">@TempData["isLogin2"]</a></li>
                                    <li><a href="/Manage/Logout">@TempData["isLogin3"]</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</section>
<!-- end nav section -->

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 style="text-align:center;vertical-align:middle;"> 新增文章 </h2>
            <hr />

            <form class="form rounded" asp-action="ArticleAdd" method="post" enctype="multipart/form-data">
                <div class="rounded-3 bg-light p-3 shadow mb-3">
                    <input type="hidden" name="FarmersId" value="" />

                    <!-- 文章標題 -->
                    <div class="mb-3">
                        <label for="Articles.ArticleTitle" class="form-label">文章標題</label>
                        <input type="text" class="form-control" name="Article">
                    </div>

                    <!-- 文章類型 -->
                    <div class="mb-3">
                        <label for="Articles.ArticleTitle" class="form-label">文章類型</label>
                        <input type="text" class="form-control" name="ArticleType">
                    </div>
                    @* <div class="mb-3">
                        <label for="Articles.ArticleType" class="form-label">文章類型</label>
                        <select class="form-select" name="ArticleType">
                            <option value="" selected>-- 請選擇 --</option>
                            <option value="討論">討論</option>
                            <option value="閒聊">閒聊</option>
                        </select>
                    </div> *@

                    <!-- 文章圖片 -->
                    <div class="mb-3">
                        <label for="Articles.ArticleImage" class="form-label">文章圖片</label>
                        <input type="file" class="form-control" name="Image">
                    </div>

                    <!-- 文章簡介 -->
                    <div class="mb-3">
                        <label for="Articles.ArticleSummary" class="form-label">文章簡介</label>
                        <textarea class="form-control" name="ArticleSummary" rows="8"></textarea>
                    </div>
                </div>
                <hr>

                <!-- 添加和減少段落 -->
                <div>
                    <p><i id="addParagraphs" class="fa-solid fa-plus" style="cursor:pointer;"> 新增段落</i></p>
                    <p><i id="removeParagraphs" class="fa-solid fa-minus" style="cursor:pointer;"> 減少段落</i></p>
                </div>

                <hr>

                <!-- 保存與送出按鈕 -->
                <div class="d-flex">
                    <div class="me-2">
                        <button type="submit" class="btn btn-primary" name="action" value="false">保存</button>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary" name="action" value="true">發佈</button>
                    </div>
                </div>

            </form>

        </div>
    </div>
</div>






